<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>my个人中心</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../lib/mui/css/muie.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../lib/mui/css/mui.css">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/mycontet.css">
</head>

<body>
    <div class="layoyt">
        <!-- 中间侧滑部分 包含头部 -->
        <header id="header" class="mui-bar mui-bar-nav">
            <h1 class="mui-title">个人中心</h1>
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        </header>
        <div class="content">
            <div class="my_page">
                <div class="user">
                    <div class="mui-icon mui-icon-contact"></div>
                    <div class="user_account ">
                        <div class="account">请登录...</div>
                        <div class="account_email"></div>
                    </div>
                </div>
                <div class="my_order">
                    <div class="order_management">订单管理</div>
                    <div class="order_serve">
                        <div class="payment">
                            <span class="fa fa-money"></span>
                            <p>待付款</p>
                        </div>
                        <div class="receiving">
                            <span class="fa fa-envelope-open-o"></span>
                            <p>待收货</p>
                        </div>
                        <div class="sale">
                            <span class="fa fa-pie-chart "></span>
                            <p>退款/售后</p>
                        </div>
                        <div class="all_orders">
                            <span class="fa fa-shopping-bag "></span>
                            <p>全部订单</p>
                        </div>
                    </div>
                </div>
                <div class="modification">
                    <ul>
                        <li><span>修改登录密码</span><span class="mui-icon mui-icon-forward"></span></li>
                        <li><span>支付密码管理</span><span class="mui-icon mui-icon-forward"></span></li>
                        <li><span>收货地址管理</span><span class="mui-icon mui-icon-forward"></span></li>
                    </ul>
                    <ul>
                        <li><span>4000-xxx-xxx-xxx</span><span class="mui-icon mui-icon-forward"></span></li>
                        <li><span>意见反馈</span><span class="mui-icon mui-icon-forward"></span></li>
                        <li><span>关于我们</span><span class="mui-icon mui-icon-forward"></span></li>
                    </ul>
                </div>
            </div>
            <button type="button" id="drop_out" class="mui-btn mui-btn-danger">退出登录</button>
        </div>
        <!-- 底部 -->
        <div class="footer">
            <nav class="mui-bar mui-bar-tab">
                <a class="mui-tab-item " href="../index.html">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a class="mui-tab-item " href="../views/category.html">
                    <span class="mui-icon mui-icon-list"></span>
                    <span class="mui-tab-label">分类</span>
                </a>
                <a class="mui-tab-item " href="../views/cart.html">
                    <span class="mui-icon-extra mui-icon-extra-cart shoppingICON"></span>
                    <span class="mui-tab-label shopping ">购物车</span>
                </a>
                <a class="mui-tab-item mui-active myContent" href="#">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label ">我的</span>
                </a>
            </nav>
        </a>
    </div>

    <!-- 订单数据渲染 -->
    <script type="text/template" id="orderLisTemp">
        {{each data value index}}
        <li class="mui-table-view-cell">
                <div class="mui-row">
                    <div class="mui-col-xs-9">
                        <div class="order">订单编号</div>
                        <div class="order_number">{{value.order_number}}</div>
                    </div>  
                    <div class="mui-col-xs-3 order_price">￥{{value.order_price}}</div>
                </div>
         </li>
    {{/each}}
    </script>

    <script src="../lib/mui/js/mui.min.js"></script>
    <script src="../lib/arttemplate/template-web.js"></script>
    <script src="../lib/iscroll/iscroll.js"></script>
    <script src="../lib/zepto/zepto.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/mycontent.js"></script>
</body>

</html>